.about {
  padding: rem-calc(40) 0;
  background-color: $white;
  .sectionTitle {
    margin-bottom: rem-calc(20);
  }
  p {
    margin-bottom: rem-calc(22);
    font-size: rem-calc(15);
    line-height: unitless-calc(21, 15);
  }
}

.aboutSlider {
  margin: rem-calc(10) 0;
  img {
    width: 100%;
  }
  .arrow {
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
  .dots {
    bottom: rem-calc(20);
  }
}

.mapContainer {
  position: relative;
  display: block;
  max-width: rem-calc(944);
}

.map {
  width: 100%;
  height: rem-calc(360);
}

.mapInfo {
  position: absolute;
  bottom: rem-calc(22);
  left: 50%;
  padding: rem-calc(15);
  min-width: rem-calc(200);
  font-weight: 600;
  background-color: rgba($white, .75);
  transform: translateX(-50%);
  .title {
    margin-bottom: rem-calc(30);
  }
  .icon {
    margin-bottom: rem-calc(20);
    max-width: rem-calc(42);
    max-height: rem-calc(38);
  }
}