button,
select {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  bottom: 0;
  text-indent: 1px;
  text-overflow: '';
}

svg {
  &.icon {
    max-width: 100%;
  }
}

.main {
  overflow: hidden;
}

.button {
  width: rem-calc(260);
  max-width: 100%;
  height: rem-calc(50);
  outline-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .04em;
  &.small {
    width: rem-calc(180);
    height: rem-calc(40);
    line-height: inherit;
  }
}

.checkbox {
  position: absolute;
  left: -9999px;
  pointer-events: none;
  & + label {
    position: relative;
    margin: 0;
    padding-left: rem-calc(28);
    cursor: pointer;
    user-select: none;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: rem-calc(20);
      height: rem-calc(20);
      border: 1px solid $secondary-color;
      font-size: rem-calc(16);
      line-height: 1.2;
      font-weight: 700;
      text-align: center;
      color: $primary-color;
      transform: translateY(-50%);
    }
  }
  &:checked {
    & + label {
      &:before {
        content: '\2714';
      }
    }
  }
}

.radio {
  @extend .checkbox;
  & + label {
    &:before {
      width: rem-calc(24);
      height: rem-calc(24);
      font-size: rem-calc(30);
      line-height: rem-calc(22);
      font-weight: 700;
      border-radius: 50%;
    }
  }
  &:checked {
    & + label {
      &:before {
        content: '\2022';
      }
    } 
  }
}

.backgroundFull {
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundRepeat {
  background-repeat: repeat;
}

.sectionBorder {
  position: relative;
  width: 100%;
  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &:before {
    height: 6px;
    background-image: radial-gradient(circle at 13px -7px,transparent 10px, $body-background 0);
    background-repeat: repeat;
    background-size: 26px 10px;
  }
  &:after {
    height: 8px;
    background-image: radial-gradient(circle at 13px 12px,$body-background 12px, transparent 0);
    background-size: 26px 10px;
    background-position: 13px 0;
  }
  &.bottom {
    @include sectionBorder(bottom, $body-background);
  }
  &.topWhite {
    @include sectionBorder(top, $white);
  }
  &.bottomWhite {
    @include sectionBorder(bottom, $white);
  }
}

.tooltip{
  font-weight: 600;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}

.has-tip {
  outline-color: transparent;
}

.spriteContainer {
  position: absolute;
  left: -9999px;
  opacity: 0;
}