.footer {
  padding: rem-calc(41) 0;
  color: $white;
  a {
    font-size: rem-calc(15);
    color: inherit;
  }
  .infoTitle,
  .address {
    font-size: rem-calc(20);
    font-weight: 600;
  }
  .phone {
    font-size: rem-calc(30);
    line-height: unitless-calc(54, 39);
    font-weight: 300;
  }
  .address {
    margin-top: rem-calc(32);
  }
  .bookingContainer {
    overflow: hidden;
  }
  .booking {
    margin: 0 rem-calc(-20) rem-calc(40);
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    .title {
      margin-bottom: rem-calc(25);
    }
    .select,
    .dateField {
      background-color: rgba($white, .93);
      &:focus {
        background-color: $white;
      }
    }
    .button {
      margin: rem-calc(10) 0 rem-calc(14);
    }
  }
  .button {
    border: 1px solid $white;
    @include button-style($white, transparent, $body-font-color);
    &:hover,
    &:focus {
      color: $white;
    }
  }
}

.scl {
  margin-top: rem-calc(44);
  li {
    margin-right: rem-calc(10);
  }
  a {
    padding: 0;
  }
  .icon {
    width: rem-calc(50);
    height: rem-calc(50);
  }
}