.head {
  .title {
    font-size: rem-calc(20);
    font-weight: 600;
  }
  .info {
    font-size: rem-calc(15);
    line-height: unitless-calc(19, 15);
  }
  .callback {
    line-height: unitless-calc(19);
    font-weight: 600;
  }
}

.headTop {
  color: $white;
  background-color: $primary-color;
}

.titleBar {
  justify-content: space-between;
  .toggle {
    margin-top: rem-calc(10);
    outline-color: transparent;
  }
}

.menuIcon {
  position: relative;
  vertical-align: middle;
  width: 26px;
  height: 22px;
  outline-color: transparent;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  i {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    opacity: 1;
    background: $primary-color;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:first-child {
      top: 0;
    }
    &:nth-child(2){
      top: 9px;
    }
    &:nth-child(3) {
      top: 18px;
    }
  }
  &.open {
    i {
      &:first-child {
        top: rem-calc(9);
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        left: rem-calc(30);
        opacity: 0;
      }
      &:nth-child(3) {
        top: rem-calc(9);
        transform: rotate(-135deg);
      }
    }
  }
}

.headMenu {
  list-style: none;
  margin: 0;
  padding: rem-calc(10) 0;
  font-size: 0; 
  font-weight: 700;
  text-transform: uppercase;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  li {
    font-size: rem-calc(13);
    letter-spacing: .06em;
  }
  a {
    display: inline-block;
    margin: rem-calc(5) 0;
    text-decoration: underline;
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}

.headBottom {
  padding: rem-calc(32) 0 rem-calc(26);
  background-color: $white;
}

.logo {
  display: block;
  max-width: rem-calc(44);
}

.callbackMobileContainer {
  display: none;
}

.callbackLink {
  display: inline-block;
  vertical-align: middle;
  margin: 0 rem-calc(10);
  .icon {
    width: rem-calc(24);
    height: rem-calc(22);
    fill: $primary-color;
  }
}