.hero {
  &.slider {
    .slide {
      background-position: 50% 0;
    }
    .dots {
      bottom: rem-calc(15);
    }
  }
}

.booking {
  padding: rem-calc(40) 0 rem-calc(50);
  background-color: rgba(white, .8);
  box-shadow: 0 9px 9px rgba(0, 0, 0, 0.19);
  .row {
    margin-left: rem-calc(10);
    margin-right: rem-calc(10);
  }
  .title {
    margin-bottom: rem-calc(30);
  }
  .dateField,
  .select {
    height: rem-calc(50);
    background-repeat: no-repeat;
  }
  .dateField {
    margin-bottom: $global-margin;
    background-image: url(images/svg-optimized/calendar.svg);
    background-size: rem-calc(32);
    background-position: right rem-calc(8) center;
  }
  .select {
    margin-bottom: rem-calc(21);
    background-image: url(images/svg-optimized/select-down.svg);
    background-size: rem-calc(22);
    background-position: right rem-calc(-12) center;
  }
}