.places {
  padding: rem-calc(40) 0 rem-calc(30);
  background-color: $white;
  .row {
    max-width: rem-calc(1800);
  }
  .sectionTitle {
    margin-bottom: rem-calc(30);
  }
}

.placesSlider {
  margin: 0 rem-calc(-10) rem-calc(55);
  &.withArrows {
    .arrow {
      padding-left: rem-calc(12);
      padding-right: rem-calc(12);
    }
  }
  &.withDots {
    .dots {
      bottom: rem-calc(-40);
    }
  }
  .slide {
    position: relative;
    padding: 0 rem-calc(10);
    height: rem-calc(394);
    background-position: 50% 50%;
    &.slick-active {
      .place {
        filter: none;
        &:after {
          display: none;
        }
        .info {
          display: block;
        }
      }
      .arrow {
        visibility: visible;
      }
    }
    .arrow {
      visibility: hidden;
    }
  }
}

.place {
  position: relative;
  height: 100%;
  background-color: $white;
  filter: grayscale(100%);
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba($white, .86);
  }
  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: none;
    width: 100%;
    padding: rem-calc(20) rem-calc(20) rem-calc(10) rem-calc(20);
    background-color: rgba($white, .86);
    p {
      font-size: rem-calc(15);
      line-height: unitless-calc(24, 15);
    }
  }
  .placeTitle {
    margin-bottom: rem-calc(8);
    line-height: unitless-calc(25, 20);
    font-weight: 700;
  }
  .placeTitleLink {
    color: inherit;
  }
}