@include breakpoint(small only) {
  // Base
  .sectionTitle {
    font-size: rem-calc(20);
    line-height: unitless-calc(28, 20);
  }

  // Head
  .head {
    .title {
      margin: 0 auto 0 rem-calc(10);
      font-size: rem-calc(16);
    }
    .logoTitle {
      max-width: rem-calc(110);
      font-weight: 700;
      span {
        &:first-child {
          text-transform: uppercase;
          font-size: rem-calc(12);
        }
        &:last-child {
          font-size: rem-calc(18);
          line-height: 1;
          color: $primary-color;
        }
      }
    }
  }
  .headTop {
    &.is-stuck {
      box-shadow: 0 2px 4px rgba($black, .2);
    }
  }
  .booking {
    .select {
      background-position: right rem-calc(-15) center;
    }
  }

  // Apartment
  .apartmentInfo {
    font-size: rem-calc(19);
    line-height: unitless-calc(27, 19);
  }

  // Advantages
  .advantage {
    .title {
      font-size: rem-calc(14);
      line-height: unitless-calc(19, 14);
    }
  }

  // About
  .mapContainer {
    margin: 0 rem-calc(-10);
    &.thumbnail {
      border: 0;
      box-shadow: none;
    }
  }

  // Feedback
  .feedbackItem {
    .title {
      font-size: rem-calc(14);
      line-height: unitless-calc(23, 14);
    }
  }

  // Places
  .place {
    .placeTitle {
      font-size: rem-calc(16);
      line-height: unitless-calc(22, 16);
    }
  }

  // Footer
  .footer {
    .booking {
      .button {      
        width: 100%;
      }
    }
  }

  // Inner page
  .innerPage {
    .content {
      padding-top: rem-calc(20);
      h1 {
        &.title {
          font-size: rem-calc(22);
        }
      }
    }
  }
  .orderDetails {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(15);
  }
  .pageControl {
    font-size: rem-calc(12);
    .icon {
      display: none;
    }
    &.controlPrev {
      .text {
        margin-right: rem-calc(-8);
      }
    }
  }
  .datesPage {
    .content {
      .booking {
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(20);
        .button {
          width: 100%;
        }
      }
    }
  }
  .paymentPage {
    .pageControl {
      .icon {
        display: inline;
        margin: rem-calc(4) rem-calc(4) 0 rem-calc(-6);
        max-width: rem-calc(20);
        max-height: rem-calc(10);
      }
    }
  }

}

@include breakpoint(480) {
  // Head
  .menuIcon {
    margin-top: rem-calc(4);
  }
  .callbackMobileContainer {
    display: inline-block;
    vertical-align: middle;
    margin: 0 rem-calc(30);
  }
  .callbackLink {
    display: none;
  }

  // Inner page
  .orderDetails {
    font-size: rem-calc(17);
    a {
      font-size: rem-calc(14);
    }
  }
  .servicesPage {
    .content {
      table {
        td {
          font-size: rem-calc(15);
        }
        .col-1 {
          .colContent {
            &.withSelect {
              min-width: rem-calc(280px);
            }
          }
        }
      }
      p {
        font-size: rem-calc(15);
      }
      select {
        max-width: rem-calc(170px);
      }
    }
    .checkbox {
      & + label {
        font-size: rem-calc(15);
      }
    }
  }
  .paymentPage {
    .paymentType {
      .paymentTypeInfo {
        max-width: 100%;
        font-size: rem-calc(16);
      }
      .title {
        font-size: rem-calc(15);
      }
      .paymentCost {
        font-size: rem-calc(20);
      }
    }
  }
  .bookingPage {
    .content {
      padding-top: rem-calc(30);
    }
  }

}

@include breakpoint(medium) {
  // Base
  .stat {
    font-size: rem-calc(77);
  }

  // Head
  .head {
    .title {
      font-size: rem-calc(24);
    }
  }
  .headMenu {
    padding: 0;
    li {
      display: inline-block;
    }
  }
  .logo {
    width: rem-calc(180);
    max-width: 100%;
  }

  // Hero
  .booking {
    padding-top: rem-calc(38); 
    padding-bottom: rem-calc(26);
    .dateFieldContainer {
      &.left {
        margin-right: rem-calc(-10);
        .dateField {
          background-position: right rem-calc(18) center;
        }
      }
      &.right {
        margin-left: rem-calc(-10);
      }
    }
  }

  // Apartment
  .apartmentGallery,
  .apartmentContent {
    float: left;
  }
  .apartmentGallery {
    margin-bottom: 0;
    width: 40%;
  }
  .apartmentContent {
    width: 60%;
  }
  .apartmentInfo {
    .title {
      margin-bottom: rem-calc(28);
    }
  }

  // Advantage
  .advantageContainer {
    margin-bottom: rem-calc(20);
  }
  .advantage {
    padding-top: rem-calc(46);
    padding-bottom: rem-calc(20);
  }

  // About
  .map {
    height: rem-calc(440);
  }
  .mapInfo {
    left: rem-calc(22);
    padding: rem-calc(25);
    transform: translateX(0);
    .icon {
      max-width: rem-calc(84);
      max-height: rem-calc(76);
    }
  }

  // Feedback
  .feedbackItem {
    padding-right: rem-calc(10);
  }

  // Places
  .places {
    .info {
      padding: rem-calc(28) rem-calc(50) rem-calc(10) rem-calc(32);
    }
  }

  // Footer {
  .footer {
    .infoTitle,
    .address {
      font-size: rem-calc(25);
    }
    .phone {
      font-size: rem-calc(39);
    }
  }

  // Inner page
  .innerPage {
    .content {
      h1 {
        &.title {
          margin-bottom: rem-calc(40);
        }
      }
      h2 {
        &.costInfo {
          margin-top: rem-calc(14);
          margin-bottom: rem-calc(30);
        }
        font-size: rem-calc(20);
      }
    }
  }
  .orderDetails {
    margin-bottom: rem-calc(35);
    line-height: unitless-calc(19, 17);
    a {
      line-height: unitless-calc(19, 14);
    }
    .item {
      display: inline-block;
      padding-right: rem-calc(15);
      &:not(:first-child) {
        padding-left: rem-calc(10);
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: rem-calc(48);
          background-color: $secondary-color;
          transform: translateY(-50%);
        }
      }
    }
  }
  .errorPage {
    .errorContentItem {
      display: table;
      vertical-align: middle;
      padding-top: rem-calc(40);
      padding-bottom: rem-calc(60);
      .errorItem,
      .errorItem:last-child {
        display: table-cell;
        vertical-align: middle;
        float: none;
      }
    }
  }
  .servicesPage {
    .content {
      table {
        .col-1 {
          .colContent {
            padding-right: rem-calc(5);
            &.withSelect {
              min-width: rem-calc(342);
            }
          }
        }
        .col-2 {
          .colContent {
            padding-left: rem-calc(5);
            min-width: rem-calc(85);
          }
        }
      }
      select {
        max-width: rem-calc(230);
        font-size: rem-calc(15);
      }
    }
    .contentItem {
      &:not(.orderDetails) {
        margin-bottom: rem-calc(26);
      }
    }
  }
  .paymentPage {
    .content {
      h2 {
        margin-bottom: rem-calc(25);
      }
      p {
        font-size: rem-calc(15);
      }
      a {
        font-size: rem-calc(14);
        line-height: unitless-calc(19, 14);
      }
    }
    .totalCost {
      font-size: rem-calc(25);
    }
    .timeInfo {
      font-size: rem-calc(15);
      h3 {
        font-size: rem-calc(17);
      }
    }
  }
  .bookingPage {
    .content {
      padding-top: rem-calc(40);
      h2 {
        font-size: rem-calc(22);
        line-height: unitless-calc(25, 22);
      }
    }
    .apartmentInfo {
      .title {
        margin-bottom: rem-calc(18);
        font-size: rem-calc(22);
        line-height: unitless-calc(28, 22);
      }
    }
  }
  

}

@include breakpoint(medium only) {
  // Head
  .headMenu {
    li {
      font-size: rem-calc(12);
      letter-spacing: 0;
    }
  }

}

@include breakpoint(1000) {
  // Hero
  .hero {
    &.slider {
      .slide {
        position: relative;
        height: rem-calc(586);
      }
      .slideInner {
        position: relative;
        padding: rem-calc(120) 0;
        height: 100%;
      }
      .slideContent {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
      }
      .dots {
        bottom: rem-calc(45);
      }
    }
  }
  .booking {
    margin-bottom: rem-calc(8);
    max-width: rem-calc(580);
  }

}

@include breakpoint(large) {
  // Head
  .head {
    .title {
      margin-top: rem-calc(22);
      font-size: rem-calc(29);
    }
  }
  .headMenu {
    a {
      margin-top: rem-calc(11);
      margin-bottom: rem-calc(11);
    }
  }

  // Apartment
  .apartments{
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(80);
  }
  .apartment {
    margin-bottom: rem-calc(28);
  }
  .apartmentGallery {
    position: relative;
    .apartmentThumbnail {
      &.slick-slide {
        margin-left: 0;
        margin-right: 0;
        width: rem-calc(90);
      }
    }
    .apartmentPhoto {
      .slick-slide {
        height: rem-calc(205);
      }
    }
  }
  .apartmentThumbnailsContainer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: rem-calc(110);
  }
  .apartmentThumbnails,
  .apartmentPhoto {
    height: rem-calc(205);
  }
  .apartmentThumbnails {
    margin-top: 0;
    margin-bottom: 0;
  }
  .apartmentPhotoContainer {
    margin-left: rem-calc(110);
  }
  .apartmentPhoto {
    margin: 0 rem-calc(-3);
    padding-left: 0;
  }
  .apartmentContent {
    display: table;
    padding-top: rem-calc(14);
    padding-bottom: rem-calc(14);
    min-height: rem-calc(205);
  }
  .apartmentInfo,
  .apartmentBooking {
    display: table-cell;
    vertical-align: middle;
  }
  .apartmentInfo {
    padding-right: rem-calc(40);
  }
  .apartmentBooking {
    position: relative;
    left: rem-calc(10);
    padding-left: rem-calc(43);
    padding-right: rem-calc(20);
    border-left: 1px solid $secondary-color;
  }

  // Advantages
  .advantages {
    padding-top: rem-calc(70);
    padding-bottom: rem-calc(74);
    .sectionTitle {
      margin-bottom: rem-calc(70);
    }
  }

  // About
  .aboutSlider {
    margin-top: rem-calc(46);
    margin-bottom: 0;
  }
  .map {
    height: rem-calc(536);
  }

  // About
  .about {
    padding-top: rem-calc(80);
    padding-bottom: rem-calc(54);
    .sectionTitle {
      margin-top: rem-calc(-10);
      margin-bottom: rem-calc(40);
    }
  }

  // Feedback
  .feedback {
    padding-top: rem-calc(54);
    padding-bottom: rem-calc(44);
    .sectionTitle {
      margin-bottom: rem-calc(60);
    }
  }

  // Places
  .places {
    padding-top: rem-calc(56);
    .sectionTitle {
      margin-bottom: rem-calc(65);
    }
  }
  .placesSlider {
    &.withArrows {
      .arrow {
        &.prev {
          left: 50%;
          margin-left: rem-calc(-300);
        }
        &.next {
          right: 50%;
          margin-right: rem-calc(-300);
        }
      }
    }
    .slide {
      width: rem-calc(300);
      &.slick-center {
        width: rem-calc(600);
      }
    }
  }

  // Footer
  .footer {
    padding-bottom: 0;
    .booking {
      .title {
        margin-bottom: rem-calc(42);
      }
    }
  }

  // Inner page
  .content {
    table {
      th,
      td {
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
        &:first-child {
          padding-left: 0;
        }
      }
      td {
        padding-top: rem-calc(21);
        padding-bottom: rem-calc(21);
      }
    }
  }
  .orderDetails {
    .item {
      padding-right: rem-calc(22);
      &:not(:first-child) {
        padding-left: rem-calc(20);
      }
    }
  }
  .pageControl {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
  .errorPage {
    .content {
      h1 {
        &.title {
          margin-left:  rem-calc(-5);
          margin-bottom:  rem-calc(52);
          font-size: rem-calc(37);
        }
      }
    }
    .errorContentItem {
      padding-top: rem-calc(80);
      padding-bottom: rem-calc(120);
    }
  }
  .errorImage {
    margin-right: rem-calc(7);
    margin-bottom: 0;
  }
  .datesPage {
    .content {
      padding-top: rem-calc(55);
      padding-bottom: rem-calc(60);
      h1 {
        &.title {
          margin-bottom: rem-calc(50);
        }
      }
      .booking {
        padding-top: rem-calc(50);
        padding-bottom:rem-calc(30);
        .dateField {
          margin-bottom: rem-calc(25);
        }
        .button {
          margin-top: rem-calc(20);
        }
      }
    }
  }
  .servicesPage {
    .footer {
      padding-top: rem-calc(48);
    }
  }
  .paymentPage {
    .content {
      h2 {
        margin-bottom: rem-calc(30);
      }
      select {
        margin-left: rem-calc(5);
        margin-right: rem-calc(5);
        margin-bottom: rem-calc(32);
      }
    }
  }
  .bookingPage {
    .content {
      padding-top: rem-calc(50);
      padding-bottom: rem-calc(40);
      .showDetailsButton {
        margin-bottom: rem-calc(8);
        &.clicked {
          margin-bottom: rem-calc(62);
        }
      }
      .showTariffsButton {
        margin-left: rem-calc(100);
      }
    }
    .apartment {
      margin-bottom: rem-calc(20);
      padding-bottom: rem-calc(5);
    }
    .apartmentGallery {
      padding-top: rem-calc(4);
      .apartmentPhoto {
        .slick-slide {
          height: rem-calc(224);
        }
      }
    }
    .apartmentPhoto,
    .apartmentThumbnails {
      height: rem-calc(224);
    }
    .apartmentInfo {
      margin-top: rem-calc(15);
      padding-right: rem-calc(10);
      &.expanded {
        padding-bottom: rem-calc(52);
      }
    }
    .facilities {
      margin-top: rem-calc(15);
      li {
        margin-bottom: 0;
        width: rem-calc(68);
        height: rem-calc(36);
        border-left: 1px solid gainsboro;
        line-height: unitless-calc(30);
        &:first-child {
          width: rem-calc(50);
          border: 0;
          text-align: left;
        }
      }
    }
    .allFacilities {
      &.leftOffset {
        margin-left: rem-calc(-14);
      }
    }
    .contentGallery {
      margin-top: rem-calc(38);
      margin-bottom: rem-calc(16);
    }
    .tariff {
      margin-bottom: rem-calc(35);
      font-size: rem-calc(20);
      .imageWrap {
        padding-right: rem-calc(20);
        width: rem-calc(100);
      }
      .cost {
        padding-left: rem-calc(5);
        padding-right: 0;
        width: rem-calc(110);
      }
      .buttonWrap {
        width: rem-calc(180);
      }
      .button {
        padding: .85em 1em;
        height: rem-calc(38);
        font-size: rem-calc(12);
      }
    }
  }

}

@include breakpoint(xlarge) {
  // Apartments
  .apartments {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
  }
  .apartment {
    margin-left: rem-calc(-20px);
    margin-right: rem-calc(-20px);
  }
  .apartmentGallery {
    width: 33.3333%;
  }
  .apartmentContent {
    width: 66.6666%;
  }

  // About
  .about {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }

  // Feedback
  .feedbackItems {
    margin: 0 rem-calc(-10);
  }
  .feedbackItem {
    padding-right: rem-calc(20);
    .author {
      margin-top: rem-calc(43);
    }
  }

  // Footer
  .footer {
    .booking {
      padding-right: rem-calc(40);
    }
  }

  // Inner page
  .errorPage {
    .errorContentItem {
      padding-top: rem-calc(186);
      padding-bottom: rem-calc(210);
    }
  }
  .errorImage {
    margin-left: rem-calc(7);
    margin-right: auto;
  }
  .errorInfo {
    margin-left: rem-calc(-10);
  }
  .datesPage {
    .content {
      padding-top: rem-calc(70);
      padding-bottom: rem-calc(60);
      .booking {
        padding-top: rem-calc(65);
        padding-bottom:rem-calc(45);
        .dateField {
          margin-bottom: rem-calc(35);
        }
        .button {
          margin-top: rem-calc(30);
        }
      }
    }
  }
  .servicesPage {
    .content {
      table {
        .col-2 {
          .colContent {
            min-width: rem-calc(122);
          }
        }
      }
      p {
        margin-left: rem-calc(-24);
      }
    }
  }
  .paymentPage {
    .content {
      h2 {
        margin-bottom: rem-calc(35);
      }
    }
    .timeInfo {
      padding-top: rem-calc(14);
    }
  }
  .bookingPage {
    .tariff {
      .text {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

}

@include breakpoint(xxlarge) {
  // Feedback
  .feedbackItems {
    padding-bottom: 0;
  }

  // Inner page
  .contentItem {
    &.row {
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
      max-width: rem-calc(1220);
    }
  }
  .bookingPage {
    .orderDetails {
      a {
        margin-right: rem-calc(33);
      }
    }
  }
  .pageControl {
    padding-left: 0;
    padding-right: 0;
  }
  .datesPage {
    .content {
      padding-top: rem-calc(87);
      padding-bottom: rem-calc(70);
      h1 {
        &.title {
          margin-bottom: rem-calc(92);
        }
      }
      .booking {
        padding: rem-calc(80) rem-calc(110) rem-calc(60);
        .dateField {
          margin-bottom: rem-calc(42);
        }
        .button {
          margin-top: rem-calc(64);
        }
      }
    }
  }
  .paymentPage {
    .bookingButton {
      margin-right: rem-calc(-20);
    }
  }

}

@include breakpoint(1920px) {
  .mapContainer {
    width: rem-calc(944);
  }
}