@include breakpoint(small only) {
  // Head
  .head {
    .title {
      margin: 0 auto 0 rem-calc(10);
      font-size: rem-calc(16);
    }
  }
  .headTop {
    &.is-stuck {
      box-shadow: 0 2px 4px rgba($black, .2);
    }
  }
  .booking {
    .select {
      background-position: right rem-calc(-15) center;
    }
  }

  // About
  .mapContainer {
    margin: 0 rem-calc(-10);
    &.thumbnail {
      border: 0;
      box-shadow: none;
    }
  }

  // Footer
  .footer {
    .booking {
      .button {      
        width: 100%;
      }
    }
  }

}

@include breakpoint(480) {
  // Head
  .menuIcon {
    margin-top: rem-calc(4);
  }
  .callbackMobileContainer {
    display: inline-block;
    vertical-align: middle;
    margin: 0 rem-calc(30);
  }
  .callbackLink {
    display: none;
  }

}

@include breakpoint(medium) {
  // Base
  .stat {
    font-size: rem-calc(77);
  }

  // Head
  .head {
    .title {
      font-size: rem-calc(24);
    }
  }
  .headMenu {
    padding: 0;
    li {
      display: inline-block;
    }
  }
  .logo {
    width: rem-calc(180);
    max-width: 100%;
  }

  // Hero
  .booking {
    padding-top: rem-calc(38); 
    padding-bottom: rem-calc(26);
    .dateFieldContainer {
      &.left {
        margin-right: rem-calc(-10);
        .dateField {
          background-position: right rem-calc(18) center;
        }
      }
      &.right {
        margin-left: rem-calc(-10);
      }
    }
  }

  // Apartment
  .apartmentGallery,
  .apartmentContent {
    float: left;
  }
  .apartmentGallery {
    margin-bottom: 0;
    width: 40%;
  }
  .apartmentContent {
    width: 60%;
  }
  .apartmentInfo {
    .title {
      margin-bottom: rem-calc(30);
    }
  }

  // Advantage
  .advantageContainer {
    margin-bottom: rem-calc(20);
  }
  .advantage {
    padding-top: rem-calc(46);
    padding-bottom: rem-calc(20);
  }

  // About
  .map {
    height: rem-calc(440);
  }
  .mapInfo {
    left: rem-calc(22);
    padding: rem-calc(25);
    transform: translateX(0);
    .icon {
      max-width: rem-calc(84);
      max-height: rem-calc(76);
    }
  }

  // Feedback
  .feedbackItem {
    padding-right: rem-calc(10);
  }

  // Places
  .places {
    .info {
      padding: rem-calc(28) rem-calc(50) rem-calc(10) rem-calc(32);
    }
  }

  // Footer {
  .footer {
    .infoTitle,
    .address {
      font-size: rem-calc(25);
    }
    .phone {
      font-size: rem-calc(39);
    }
  }

}

@include breakpoint(medium only) {
  // Head
  .headMenu {
    li {
      font-size: rem-calc(12);
      letter-spacing: 0;
    }
  }

}

@include breakpoint(1000) {
  // Hero
  .hero {
    &.slider {
      .slide {
        position: relative;
        padding: rem-calc(120) 0;
        height: rem-calc(586);
      }
      .slideContent {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
      }
      .dots {
        bottom: rem-calc(45);
      }
    }
  }
  .booking {
    margin-bottom: rem-calc(8);
    max-width: rem-calc(580);
  }

}

@include breakpoint(large) {
  // Head
  .head {
    .title {
      margin-top: rem-calc(22);
      font-size: rem-calc(29);
    }
  }
  .headMenu {
    a {
      margin-top: rem-calc(11);
      margin-bottom: rem-calc(11);
    }
  }

  // Apartment
  .apartments{
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(80);
  }
  .apartment {
    margin-bottom: rem-calc(28);
  }
  .apartmentGallery {
    position: relative;
    .apartmentThumbnail {
      &.slick-slide {
        margin-left: 0;
        margin-right: 0;
        width: rem-calc(90);
      }
    }
    .apartmentPhoto {
      .slick-slide {
        height: rem-calc(205);
      }
    }
  }
  .apartmentThumbnailsContainer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: rem-calc(110);
  }
  .apartmentThumbnails,
  .apartmentPhoto {
    height: rem-calc(205);
  }
  .apartmentThumbnails {
    margin-top: 0;
    margin-bottom: 0;
  }
  .apartmentPhotoContainer {
    margin-left: rem-calc(110);
  }
  .apartmentPhoto {
    margin: 0 rem-calc(-3);
    padding-left: 0;
  }
  .apartmentContent {
    display: table;
    padding-top: rem-calc(14);
    padding-bottom: rem-calc(14);
    min-height: rem-calc(205);
  }
  .apartmentInfo,
  .apartmentBooking {
    display: table-cell;
    vertical-align: middle;
  }
  .apartmentInfo {
    padding-right: rem-calc(40);
  }
  .apartmentBooking {
    position: relative;
    left: rem-calc(10);
    padding-left: rem-calc(43);
    padding-right: rem-calc(20);
    border-left: 1px solid $secondary-color;
  }

  // Advantages
  .advantages {
    padding-top: rem-calc(70);
    padding-bottom: rem-calc(80);
    .sectionTitle {
      margin-bottom: rem-calc(70);
    }
  }

  // About
  .aboutSlider {
    margin-top: rem-calc(46);
    margin-bottom: 0;
  }
  .map {
    height: rem-calc(536);
  }

  // About
  .about {
    padding-top: rem-calc(80);
    padding-bottom: rem-calc(54);
    .sectionTitle {
      margin-top: rem-calc(-10);
      margin-bottom: rem-calc(40);
    }
  }

  // Feedback
  .feedback {
    padding-top: rem-calc(54);
    padding-bottom: rem-calc(44);
    .sectionTitle {
      margin-bottom: rem-calc(60);
    }
  }

  // Places
  .places {
    padding-top: rem-calc(56);
    .sectionTitle {
      margin-bottom: rem-calc(65);
    }
  }
  .placesSlider {
    &.withArrows {
      .arrow {
        &.prev {
          left: 50%;
          margin-left: rem-calc(-300);
        }
        &.next {
          right: 50%;
          margin-right: rem-calc(-300);
        }
      }
    }
    .slide {
      width: rem-calc(300);
      &.slick-center {
        width: rem-calc(600);
      }
    }
  }

  // Footer
  .footer {
    padding-bottom: 0;
    .booking {
      .title {
        margin-bottom: rem-calc(42);
      }
    }
  }

  // Inner page
  .content {
    table {
      th,
      td {
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  
}

@include breakpoint(xlarge) {
  // Apartments
  .apartments {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
  }
  .apartment {
    margin-left: rem-calc(-20px);
    margin-right: rem-calc(-20px);
  }
  .apartmentGallery {
    width: 33.3333%;
  }
  .apartmentContent {
    width: 66.6666%;
  }

  // About
  .about {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }

  // Feedback
  .feedbackItems {
    margin: 0 rem-calc(-10);
  }
  .feedbackItem {
    padding-right: rem-calc(20);
    .author {
      margin-top: rem-calc(43);
    }
  }
}

@include breakpoint(xxlarge) {
  // Feedback
  .feedbackItems {
    padding-bottom: 0;
  }

  // Inner page
  .contentItem {
    &.row {
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
      max-width: rem-calc(1220);
    }
  }

}

@include breakpoint(1920px) {
  .mapContainer {
    width: rem-calc(944);
  }
}